.EXT-Pages {
  margin-top: 0 !important;
}

.EXT-Pages .indicator {
  padding: 0 5px;
  margin: 0;
  font-size: 0.5em;
}

#EXT_PAGES {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

#EXT_PAGES.hidden {
  display: none;
}

#EXT_Pages-GoogleAssistant {
  position: absolute;
  margin-top: 15rem;
  left: 1rem;
}

#EXT_Pages-GoogleAssistantImg {
  height: 10vh;
}

#EXT_PAGES-Loading {
  height: 100%;
  width: 100%;
}
